# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.pid

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/GeneratedPluginRegistrant.*

# Android related
android/.gradle/
android/.idea/
android/local.properties
android/app/proguard-rules.pro
android/key.properties
android/app/*.keystore
*.jks

# Firebase related
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Exclude IntelliJ IDEA project files
.idea/
*.iml

# Miscellaneous
*.log
*.lock
*.DS_Store
*.p12
*.key
*.pem
*.cer
*.crt
*.der

# Exclude macOS specific files
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# Firebase Emulator files (if you're using Firebase Emulators)
firebase-debug.log
.firebaserc
firebase_options.dart

# Flutter .env
*.env
